:root {
    color-scheme: light dark;
}
body {
    width: 100%;
    padding: 10px;
    font-family: system-ui;
    text-align: center;
    font-size:30px;
    /* background-color: rgba(255, 255, 255, 0.825); */
}

img {
    width: 90%;
}
